{
  "presets": [
    ["env", {
      "modules": false,
      "loose": true,
    }],
  ],
  "plugins": [
    ["transform-react-jsx", { pragma: "h" }],
    "syntax-dynamic-import",
  ],
  "env": {
    "web": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": ["last 2 versions"],
          },
        }],
      ],
    },
    "server": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current",
          },
        }],
      ],
      "plugins": [
        "transform-import-to-require",
      ],
    },
  },
}
