{
  "presets": [
    ["env", {
      "modules": false,
      "loose": true,
      "useBuiltIns": true,
    }],
  ],
  "plugins": [
    ["transform-react-jsx", { pragma: "h" }],
    "syntax-dynamic-import",
  ],
  "env": {
    "web": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": [
              "last 2 Chrome versions",
              "last 2 Firefox versions",
              "last 1 Safari versions",
              "last 1 ChromeAndroid versions",
              "last 1 Edge versions",
            ],
          },
        }],
      ],
    },
    "server": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current",
          },
        }],
      ],
      "plugins": [
        "transform-import-to-require",
      ],
    },
  },
}
