$color-success: #388e3c;
$color-success-light: lighten($color-success, 12.5%);

.account-field-disabled-solid.disabled {
  opacity: 1;
}

.account-session-indicator {
  display: block;
  width: 8px;
  height: 8px;
  margin: auto;
  border-radius: 50%;

  &.current {
    background-color: $color-success-light;
    box-shadow: 0 0 8px 0 rgba($color-success, 0.5);
  }
}

.account-org-item-name {
  min-width: 0;
}

.account-org-item-heading {
  display: inline;
}

.oauth-auth-app-logo {
  max-width: 64px;
  margin: auto;
}

.oauth-auth-profile-image {
  display: inline-block;
  width: 32px;
  margin: auto;
}

.org-field-disabled-solid.disabled {
  opacity: 1;
}

.org-member-item-name {
  min-width: 0;
}

.org-member-item-heading {
  display: inline;
}

.oauth-app-logo {
  max-width: 64px;
  margin: auto;
}

.courier-link-item-name {
  min-width: 0;
}

.courier-link-destination {
  display: block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
