$color-primary: #0d47a1 !default;
$color-primary-1: lighten($color-primary, 25%) !default;
$color-primary-2: lighten($color-primary, 12.5%) !default;
$color-primary-3: $color-primary !default;

$color-success: #388e3c;
$color-success-light: lighten($color-success, 12.5%);

.account-field-disabled-solid.disabled {
  opacity: 1;
}

.account-session-indicator {
  display: block;
  width: 8px;
  height: 8px;
  margin: auto;
  border-radius: 50%;

  &.current {
    background-color: $color-success-light;
    box-shadow: 0 0 8px 0 rgba($color-success, 0.5);
  }
}

.account-org-item-name {
  min-width: 0;
}

.account-org-item-heading {
  display: inline;
}

.oauth-auth-app-logo {
  max-width: 64px;
  margin: auto;
}

.oauth-auth-profile-image {
  width: 24px;
}

.oauth-auth-account-name {
  padding: 4px;
}

.oauth-auth-scope-indicator {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: $color-primary-2;
  box-shadow: 0 0 8px 0 rgba($color-primary-2, 0.5);
}

.oauth-auth-scope-desc {
  padding: 4px 4px 4px 8px;
}

.org-field-disabled-solid.disabled {
  opacity: 1;
}

.org-member-item-name {
  min-width: 0;
}

.org-member-item-heading {
  display: inline;
}

.oauth-app-logo {
  max-width: 64px;
  margin: auto;
}

.courier-link-item-name {
  min-width: 0;
}

.courier-link-destination {
  display: block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
