$transition-normal: 0.125s cubic-bezier(0.375, 0, 0.25, 1) !default;

$black: #000000;
$white: #ffffff;

$color-back-light-1: rgba($white, 0.9375) !default;
$color-back-light-2: rgba($white, 0.625) !default;
$color-back-light-3: rgba($white, 0.125) !default;

$color-primary: #0d47a1 !default;
$color-primary-1: lighten($color-primary, 25%) !default;
$color-primary-2: lighten($color-primary, 12.5%) !default;
$color-primary-3: $color-primary !default;

$color-back-primary: lighten($color-primary, 12.5%) !default;

$color-back-primary-1: rgba($color-back-primary, 0.9375) !default;
$color-back-primary-2: rgba($color-back-primary, 0.5) !default;
$color-back-primary-3: rgba($color-back-primary, 0.0625) !default;

$color-success: #388e3c !default;
$color-success-light: lighten($color-success, 12.5%) !default;
$color-danger: #c62828 !default;
$color-danger-light: lighten($color-danger, 12.5%) !default;

.signin-account-item {
  border-radius: 4px;
  transition: background-color $transition-normal;

  &:hover {
    background-color: $color-back-primary-3;
    cursor: pointer;
  }
}

.signin-account-image {
  width: 48px;
  max-width: 100%;
}

.dark .signin-account-item {
  &:hover {
    background-color: $color-back-light-3;
  }
}

.account-field-disabled-solid.disabled {
  opacity: 1;
}

.account-session-indicator {
  display: block;
  width: 8px;
  height: 8px;
  margin: auto;
  border-radius: 50%;

  &.current {
    background-color: $color-success-light;
    box-shadow: 0 0 8px 0 rgba($color-success, 0.5);
  }
}

.account-org-item-name {
  min-width: 0;
}

.account-org-item-heading {
  display: inline;
}

.oauth-auth-app-logo {
  max-width: 64px;
  margin: auto;
}

.oauth-auth-profile-image {
  width: 24px;
  max-width: 100%;
}

.oauth-auth-account-name {
  padding: 4px;
}

.oauth-auth-scope-indicator {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: $color-primary-2;
  box-shadow: 0 0 8px 0 rgba($color-primary-2, 0.5);
}

.oauth-auth-scope-desc {
  padding: 4px 4px 4px 8px;
}

.org-field-disabled-solid.disabled {
  opacity: 1;
}

.org-member-item-name {
  min-width: 0;
}

.org-member-item-heading {
  display: inline;
}

.oauth-app-logo {
  max-width: 64px;
  margin: auto;
}

.courier-link-item-name {
  min-width: 0;
}

.courier-link-destination {
  display: block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.devtools-dash-health-indicator {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: $color-success-light;
  box-shadow: 0 0 8px 0 rgba($color-success, 0.5);

  &.error {
    background-color: $color-danger-light;
    box-shadow: 0 0 8px 0 rgba($color-danger, 0.5);
  }
}

.devtools-dash-health-status {
  padding: 4px 4px 4px 8px;
}

.devtools-code {
  padding: 8px;
  overflow: auto;
}
