// Color //
$black: #000000 !default;
$white: #ffffff !default;
$color-primary: #224a7f !default;
$color-primary-light: lighten($color-primary, 12.5%) !default;
$color-primary-dark: #222832 !default;
$color-accent: #ffb74d !default;
$background: #fcfcfc !default;
$background-dark: darken($color-primary-dark, 6.25%) !default;
$background-transparent: rgba($white, 0.97) !default;
$background-full-transparent: rgba($white, 0) !default;
$background-dark-transparent: rgba($color-primary-dark, 0.75) !default;

$color-primary-transparent: rgba(
  desaturate($color-primary, 12.5%),
  0.12
) !default;
$color-primary-light-transparent: rgba(
  desaturate($color-primary, 25%),
  0.2
) !default;

$color-text-dark-1: rgba($black, 0.87) !default; // primary
$color-text-dark-1-5: rgba($black, 0.75) !default; // primary
$color-text-dark-2: rgba($black, 0.54) !default; // secondary
$color-text-dark-3: rgba($black, 0.38) !default; // disabled/hint/icons
$color-text-dark-4: rgba($black, 0.12) !default; // dividers

$color-text-light-1: rgba($white, 1) !default; // primary
$color-text-light-1-5: rgba($white, 0.9) !default; // primary
$color-text-light-2: rgba($white, 0.7) !default; // secondary
$color-text-light-3: rgba($white, 0.5) !default; // disabled/hint/icons
$color-text-light-4: rgba($white, 0.12) !default; // dividers

// $color-grey-900: #212121;
// $color-grey-800: #424242;
// $color-grey-300: #E0E0E0;
// $color-grey-100: #F5F5F5;
// $color-grey-50 : #FAFAFA;

$color-valid: #308457 !default;
$color-valid-light: #5bc38c !default;
$color-invalid: #a72222 !default;
$color-invalid-light: #f15656 !default;

$shadow-box: 0 2px 4px 0 $color-text-dark-4, 0 2px 8px 0 $color-text-dark-4;
$shadow-box-2: 0 1px 2px 0 $color-text-dark-4, 0 1px 4px 0 $color-text-dark-4;
$shadow-button: 0 2px 4px 0 $color-text-dark-4, 0 2px 8px 0 $color-text-dark-4;
$shadow-button-raised: 0 4px 8px 0 lighten($color-text-dark-4, 12.5%),
  0 4px 16px 0 lighten($color-text-dark-4, 12.5%);
$shadow-text: 0 2px 16px $color-text-dark-4, 0 2px 8px $color-text-dark-4,
  0 2px 4px $color-text-dark-4;
$shadow-box-blur: 0 0 4px -1px $color-text-dark-4, 0 0 8px 0 $color-text-dark-4;
$shadow-box-blur-dark: 0 0 4px 1px $color-text-dark-4,
  0 0 8px 0 $color-text-dark-4, 0 0 16px 0 $color-text-dark-4;
$shadow-box-dark: 0 1px 4px 0 $color-text-dark-4, 0 1px 8px 0 $color-text-dark-4;
