*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;

  &.dark {
    background-color: $background-dark;
    color: $color-text-light-1-5;
  }
}

input:not([type='radio']):not([type='checkbox']),
button,
submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  font-family: unset;
}

textarea,
input {
  font-family: unset;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-unset {
  text-align: unset;
}

:root {
  background-color: $background-dark;
}
