*, *:before, *:after {
  box-sizing: border-box;
  margin    : 0;
  padding   : 0;
}

html, body {
  margin : 0;
  padding: 0;
}

input, button, submit {
  -webkit-appearance: none;
  -moz-appearance   : none;
  appearance        : none;
  border            : none;
  font-family       : unset;
}

textarea, input {
  font-family: unset;
}


.text-center {
  text-align: center;
}
