@import 'vars';
@import 'color';

html,
body {
  font-size: $typography-base-size;
  font-family: $typography-base-font;
  line-height: 1.5;
  letter-spacing: normal;
  font-weight: 400;
  background-color: $background;
  color: $color-text-dark-1;
  overflow-wrap: break-word;
  transition: $transition-normal;

  &.dark {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $color-text-light-1;
    }

    a {
      color: $color-primary-light;
    }

    hr {
      background-color: $color-text-light-4;
    }
  }

  @media (min-width: $grid-sm-breakpoint) and (max-width: $grid-md-breakpoint - 1px) {
    font-size: $typography-base-size;
  }

  @media (min-width: $grid-md-breakpoint) and (max-width: $grid-lg-breakpoint - 1px) {
    font-size: $typography-base-size;
  }

  @media (min-width: $grid-lg-breakpoint) {
    font-size: $typography-base-size * 8 / 7;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0.5em;
    margin-bottom: 0.25em;
    font-weight: 700;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h5 {
    font-size: 1rem;
  }
  h6 {
    font-size: 0.75rem;
  }
  small {
    font-size: 0.6em;
  }

  h1,
  h2,
  h3 {
    small {
      font-size: 0.6em;
    }
  }

  h4,
  h5,
  h6 {
    small {
      font-size: 0.8em;
    }
  }

  a {
    color: $color-primary;
    text-decoration: unset;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    &.no-style {
      color: unset;
      text-decoration: unset;

      &:hover {
        text-decoration: unset;
      }
    }

    &.no-color {
      color: unset;
    }
  }

  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  code,
  pre {
    font-family: $typography-mono-font;
    font-size: 0.85rem;
  }

  .colossal {
    font-size: 96px;
    margin: 0;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .mammoth {
    font-size: 256px;
    margin: 0;
    line-height: 1;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-transform: uppercase;
  }

  hr {
    display: block;
    height: 1px;
    border: none;
    background-color: $color-text-dark-4;
  }
}
