// Grid //
$grid-sm-breakpoint: 512px * 1.5 !default;
$grid-md-breakpoint: $grid-sm-breakpoint * 1.5 !default;
$grid-lg-breakpoint: $grid-md-breakpoint * 1.5 !default;
$grid-gutter-padding: 8px !default;
$grid-vertical-padding: 8px !default;

// Typography //
$typography-base-font: 'Lato', Arial, Verdana, sans-serif;
$typography-base-size: 14px !default;
$typography-article-font: 'Source Serif Pro', Palatino, Georgia, serif;
$typography-mono-font: 'Hack', monospace;

// Card //
$card-sm-size: 256px !default;
$card-md-size: $card-sm-size * 1.5 !default;
$card-lg-size: $card-md-size * 1.5 !default;
$card-padding: 8px !default;
$card-padding-h: 20px !default;
$card-margin: 8px !default;

// Table //
$table-gutter-padding: 8px !default;
$table-vertical-padding: 8px !default;

// Menu //
$menu-sm-size: 128px !default;
$menu-md-size: $menu-sm-size * 1.5 !default;
$menu-lg-size: $menu-md-size * 1.5 !default;

// Button //
$button-padding: 8px !default;
$button-padding-h: $button-padding * 2 !default;
$button-min-width: 48px !default;

// Hero //
$hero-sm-size: 512px !default;
$hero-md-size: $hero-sm-size * 1.5 !default;
$hero-lg-size: $hero-md-size * 1.5 !default;

// Nav //
$nav-height: 64px !default;
$nav-width: 64px !default;

// Tab //
$tab-height: 32px !default;

// Transitions //
$transition-normal: 0.125s cubic-bezier(0.4, 0, 0.2, 1);
$transition-fast: 0.0625s cubic-bezier(0.4, 0, 0.2, 1);
$transition-slow: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
