// Color //
$black: #000000;
$white: #ffffff;

$color-body-background: #fdfdfd !default;

$color-text-dark-1: rgba($black, 0.9375) !default; // primary
$color-text-dark-2: rgba($black, 0.75) !default; // secondary
$color-text-dark-3: rgba($black, 0.375) !default; // disabled/hint/icons

$color-text-light-1: rgba($white, 0.9375) !default; // primary
$color-text-light-2: rgba($white, 0.75) !default; // secondary
$color-text-light-3: rgba($white, 0.375) !default; // disabled/hint/icons

$color-back-transparent: rgba($white, 0) !default;

$color-back-light-1: rgba($white, 0.9375) !default;
$color-back-light-2: rgba($white, 0.625) !default;
$color-back-light-3: rgba($white, 0.125) !default;

$color-back-dark-1: rgba($black, 0.9375) !default;
$color-back-dark-2: rgba($black, 0.625) !default;
$color-back-dark-3: rgba($black, 0.125) !default;

$color-primary: #0d47a1 !default;

$color-primary-1: lighten($color-primary, 25%) !default;
$color-primary-2: lighten($color-primary, 12.5%) !default;
$color-primary-3: $color-primary !default;

$color-primary-dark: #242832 !default;

$color-primary-dark-1: $color-primary-dark !default;
$color-primary-dark-2: darken($color-primary-dark, 6.25%) !default;
$color-primary-dark-3: darken($color-primary-dark, 12.5%) !default;

$color-back-primary: lighten($color-primary, 12.5%) !default;

$color-back-primary-1: rgba($color-back-primary, 0.9375) !default;
$color-back-primary-2: rgba($color-back-primary, 0.5) !default;
$color-back-primary-3: rgba($color-back-primary, 0.0625) !default;

$color-accent: #ffb74d !default;
$color-accent-light: lighten($color-accent, 12.5%) !default;

$color-success: #388e3c !default;
$color-success-light: lighten($color-success, 12.5%) !default;
$color-danger: #c62828 !default;
$color-danger-light: lighten($color-danger, 12.5%) !default;
