@import "../style/vars";
@import "../style/color";

article, .article {
  line-height: 1.8;
  font-size  : 1.25rem;
  font-family: $typography-base-font;
  width      : 100%;

  &>* {
    max-width   : 100%;
    margin-left : auto;
    margin-right: auto;
    width       : 42rem;
    display     : block;
  }

  &>*.outset {
    width: 64rem;
  }

  &>*.fullwidth {
    width: 100%;
  }

  .info {
    font-size: 1rem;

    time {
      font-size: 0.85rem;
    }
  }

  p {
    font-family: $typography-article-font;
    margin-top   : 2rem;
    margin-bottom: 2rem;
  }

  h1, h2, h3, h4, h5, h6, .info, p {
    padding-left : 8px;
    padding-right: 8px;
  }
}
