article,
.article {
  font-size: 1.25rem;
  font-family: $typography-base-font;
  width: 100%;

  &:before {
    content: '';
    display: table;
    clear: both;
  }

  & > * {
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 48rem;
    display: block;
  }

  & > *.outset {
    width: 64rem;
  }

  & > *.fullwidth {
    width: 100%;
  }

  .info {
    font-size: 1rem;
    color: $color-text-dark-1-5;

    time {
      font-size: 0.85rem;
    }

    &.small,
    .small {
      font-size: 0.85rem;
    }
  }

  p {
    font-family: $typography-article-font;
    line-height: 1.8;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  code,
  pre {
    font-size: 1rem;
  }

  pre {
    overflow: auto;
  }

  ul,
  ol {
    font-family: $typography-article-font;
    list-style-position: outside;
    padding-left: 64px;
    padding-right: 32px;
  }

  .title {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .subtitle {
    color: $color-text-dark-2;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .info,
  pre,
  p {
    padding-left: 8px;
    padding-right: 8px;
  }

  .author {
    max-width: 100%;
    width: 24rem;
    display: flex;
    align-items: center;

    & > .image {
      & > img {
        object-fit: cover;
        width: 6rem;
        height: 6rem;
        padding: 4px;
      }

      &.round {
        & > img {
          border-radius: 50%;
        }
      }
    }

    & > .description {
      & > .name {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
      }
      & > .bio {
        font-size: 1rem;
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }
}

body.dark {
  article,
  .article {
    .subtitle {
      color: $color-text-light-2;
    }

    .info {
      color: $color-text-light-2;
    }
  }
}
