.comment {
  margin: 16px 0;
  width: 100%;

  & > .inner {
    width: 42rem;
    max-width: 100%;

    & > .info {
      & > * + * {
        margin-left: 8px;
      }

      .data {
        font-family: monospace;
        font-size: 0.85rem;
        color: $color-text-dark-2;
      }
    }

    & > .content {
      font-size: 1rem;
      color: $color-text-dark-1-5;
    }

    & > .options {
      font-size: 0.85rem;
      color: $color-text-dark-2;

      & > * + * {
        margin-left: 8px;
      }
    }
  }

  & > .children {
    margin: 0 0 0 12px;
    border-left: 1px solid $color-text-dark-4;
    padding: 0 0 0 12px;
  }

  &.hidden {
    & > .inner {
      & > :not(.info) {
        display: none;
      }
    }

    & > :not(.inner) {
      display: none;
    }
  }
}

.comment-section {
  width: 100%;

  & > .comment {
    margin: 0;
    padding: 16px 0;
  }

  & > .comment + .comment {
    border-top: 2px solid $color-text-dark-4;
  }
}

body.dark {
  .comment {
    & > .inner {
      & > .info {
        .data {
          color: $color-text-light-3;
        }
      }

      & > .content {
        color: $color-text-light-2;
      }

      & > .options {
        color: $color-text-light-3;
      }
    }

    & > .children {
      border-color: $color-text-light-4;
    }
  }

  .comment-section {
    & > .comment + .comment {
      border-color: $color-text-light-4;
    }
  }
}
