dl.list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 0;
  width: 100%;

  & > * {
    padding-left: 8px;
    padding-right: 8px;
  }

  & > dt.label {
    display: block;
    width: 25%;
    text-align: right;
    font-weight: 700;
  }

  & > dd.item {
    display: block;
    width: 75%;
  }
}
