.faicon.border {
  display: inline-block;

  & > .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-radius: 50%;
    height: 1.75em;
    width: 1.75em;
    transition: $transition-fast;
    text-decoration: none;

    &:hover {
      border-width: 0;
    }

    &:active {
      border-width: 0;
    }

    & > i.fa {
      font-size: 1em;
      text-decoration: none;

      &:before {
        display: inline-block;
        text-decoration: none;
      }
    }
  }
}

a {
  &:hover {
    & > .faicon.border {
      & > .inner {
        border-width: 0;
      }
    }
  }

  &:active {
    & > .faicon.border {
      & > .inner {
        border-width: 0;
      }
    }
  }
}
