@import "../style/vars";
@import "../style/color";

footer {
  background-color: $color-text-dark-1;
  color           : $color-text-light-2;
  padding         : 32px 0 64px;

  ul {
    list-style: none;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $color-text-light-1;
  }
}
