footer {
  background-color: $color-text-dark-1;
  color: $color-text-light-2;
  padding: 64px 0 128px;

  ul {
    list-style: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color-text-light-1;
  }

  .title {
    margin-top: 0;
  }

  &.with-sidebar {
    margin-left: $nav-width;
  }
}

body.dark {
  footer {
    background-color: darken($background-dark, 6.25%);
  }
}
