input,
textarea {
  font-family: $typography-base-font;
  background: transparent;
}

.input {
  position: relative;
  width: 256px;
  padding: 20px 0;

  &.wide {
    width: 512px;
  }

  &.full-width {
    width: 100%;
  }

  /* font size, info, and error text */
  & > input,
  & > textarea,
  & > select {
    font-size: 1em;
    color: $color-text-dark-1;

    & + label {
      font-size: 1em;
    }

    & ~ .info {
      color: $color-text-dark-3;
      position: absolute;
      font-size: 0.75em;
      margin-top: 2px;
      display: block;
    }

    &:focus ~ .info {
      color: $color-text-dark-2;
    }

    & ~ .error {
      color: $color-invalid;
      position: absolute;
      font-size: 0.75em;
      margin-top: 2px;
      display: block;
    }
  }

  /* label positioning */
  &.normal > input,
  &.file > input,
  & > textarea,
  & > select {
    width: 100%;
    padding: 4px 0;

    & + label {
      transition: $transition-normal;
      bottom: 0;
      color: $color-text-dark-2;
      left: 0;
      right: 0;
      pointer-events: none;
      position: absolute;
      display: block;
      top: 24px;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-align: left;
    }

    &:focus,
    &:not(:placeholder-shown) {
      & + label {
        color: $color-primary;
        font-size: 0.75em;
        top: 4px;
      }
    }
  }

  /* bottom border */
  &.normal > input,
  & > textarea,
  & > select {
    border: none;
    border-bottom: 1px solid $color-text-dark-3;

    & + label:after {
      content: '';
      position: absolute;
      width: 16px;
      height: 2px;
      bottom: 20px;
      left: calc(50% - 8px);
      visibility: hidden;
      transition: $transition-normal;
      background-color: $color-primary;
    }

    &:focus + label:after {
      width: 100%;
      left: 0;
      visibility: visible;
    }
  }

  /* remove outline */
  &.normal > input,
  & > textarea {
    &:focus {
      outline: none;
    }
  }

  /* cursor pointer */
  &.file > input,
  & > select {
    &:hover {
      cursor: pointer;
    }
  }

  /* fix border positioning */
  & > textarea,
  & > select {
    display: block;
  }

  /* textarea interaction */
  & > textarea {
    resize: vertical;
  }

  /* select appearance */
  & > select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: none;

    & ~ .dropdown-arrow {
      content: '';
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 6px 0 6px;
      border-color: transparent;
      border-top-color: $color-text-dark-2;
    }

    & > option {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background: none;
    }
  }

  /* radio and checkbox label */
  &.radio,
  &.checkbox {
    padding-top: 10px;
    padding-bottom: 20px;

    & > input {
      vertical-align: middle;
      margin-right: 8px;

      & + label {
        vertical-align: middle;
      }
    }
  }

  /* toggle switch */
  &.toggle {
    & > input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;
      display: inline-block;
      width: 3em;
      height: 1.5em;
      border-radius: 1.5em;
      padding: 2px;
      position: relative;
      background-color: $color-text-dark-4;
      transition: $transition-normal;

      &:after {
        content: '';
        display: block;
        width: 50%;
        height: 100%;
        border-radius: 50%;
        position: relative;
        top: 0;
        left: 0;
        background-color: $white;
        transition: $transition-normal;
      }

      &:checked {
        background-color: $color-valid-light;

        &:after {
          left: 50%;
        }
      }
    }
  }
}

.input.invalid {
  &.normal > input,
  &.file > input,
  &.radio > input,
  &.checkbox > input,
  & > textarea,
  & > select {
    & + label {
      color: $color-invalid;
    }
  }

  &.normal > input,
  & > textarea,
  & > select {
    & + label:after {
      background-color: $color-invalid;
      width: 100%;
      left: 0;
      visibility: visible;
    }
  }
}

.input.valid {
  &.normal > input,
  &.file > input,
  &.radio > input,
  &.checkbox > input,
  & > textarea,
  & > select {
    & + label {
      color: $color-valid;
    }
  }

  &.normal > input,
  & > textarea,
  & > select {
    & + label:after {
      background-color: $color-valid;
    }
  }
}

.input-options {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 129;

  &.fixed {
    position: fixed;
  }

  & > .options-container {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    z-index: 1;
    border-radius: 4px;
    font-size: 0.85rem;
    background-color: $white;
    box-shadow: $shadow-box-dark;

    & > * {
      display: block;
      width: 100%;
      padding: 8px 16px;
      transition: $transition-normal;
      color: $color-text-dark-1;

      &:hover {
        cursor: pointer;
      }

      &.selected,
      &:hover {
        color: $color-primary;
        background-color: $color-primary-transparent;
      }
    }
  }

  &.left {
    & > .options-container {
      left: 0;
    }
  }

  &.right {
    & > .options-container {
      right: 0;
    }
  }

  &.top {
    & > .options-container {
      bottom: 2px;
    }
  }

  &.bottom {
    & > .options-container {
      top: 2px;
    }
  }
}

body.dark {
  .input {
    &.normal > input,
    &.file > input,
    &.radio > input,
    &.checkbox > input,
    & > input,
    & > textarea,
    & > select {
      border-color: $color-text-light-3;
      color: $color-text-light-1;

      & + label {
        color: $color-text-light-3;

        &:after {
          background-color: $color-text-light-2;
        }
      }

      & ~ .info {
        color: $color-text-light-3;
      }

      &:focus ~ .info {
        color: $color-text-light-2;
      }

      &:focus,
      &:not(:placeholder-shown) {
        & + label {
          color: $color-text-light-1-5;
        }
      }

      & ~ .error {
        color: $color-invalid-light;
      }
    }

    & > select {
      & ~ .dropdown-arrow {
        border-top-color: $color-text-light-2;
      }

      & > option {
        color: $color-text-dark-1;
      }
    }

    &.toggle {
      & > input {
        background-color: $color-text-light-4;

        &:after {
          background-color: $white;
        }

        &:checked {
          background-color: $color-valid-light;
        }
      }
    }
  }

  .input.invalid {
    &.normal > input,
    &.file > input,
    &.radio > input,
    &.checkbox > input,
    & > textarea,
    & > select {
      & + label {
        color: $color-invalid-light;

        &:after {
          background-color: $color-invalid-light;
        }
      }
    }
  }

  .input.valid {
    &.normal > input,
    &.file > input,
    &.radio > input,
    &.checkbox > input,
    & > textarea,
    & > select {
      & + label {
        color: $color-valid-light;

        &:after {
          background-color: $color-valid-light;
        }
      }
    }
  }

  .input-options {
    & > .options-container {
      background-color: lighten($color-primary-dark, 6.25%);

      & > * {
        color: $color-text-light-1-5;

        &.selected,
        &:hover {
          color: $color-accent;
          background-color: lighten($color-primary-dark, 3.125%);
        }
      }
    }
  }
}
