@mixin col-list($columns, $prefix) {
  @for $i from 1 through $columns {
    &.#{$prefix}-#{$i} {
      width: $i / $columns * 100%;
    }
  }
}

.grid {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  & > .col {
    float: left;
    width: 100%;
    max-width: 100%;
    padding: $grid-vertical-padding $grid-gutter-padding;

    @include col-list(24, 'xs');

    @media (min-width: $grid-sm-breakpoint) {
      @include col-list(24, 'sm');
    }

    @media (min-width: $grid-md-breakpoint) {
      @include col-list(24, 'md');
    }

    @media (min-width: $grid-lg-breakpoint) {
      @include col-list(24, 'lg');
    }
  }

  &.strict {
    & > .col {
      padding: 0;
    }
  }

  &.vertical-center {
    align-items: center;
  }

  &.horizontal-center {
    justify-content: center;
  }
}
