@import "../style/vars";
@import "../style/color";

header, .header {
  background           : no-repeat center center / cover;
  background-blend-mode: luminosity;
  color                : $color-text-light-1;
  text-shadow          : $shadow-text;
  display              : flex;
  justify-content      : space-between;
  align-content        : center;
  align-items          : center;

  &.fixed {
    background-attachment: fixed;
  }

  &.sm {
    height: $hero-sm-size * 2 / 3;
  }

  &.md {
    height: $hero-md-size * 2 / 3;
  }

  &.lg {
    height: $hero-lg-size * 2 / 3;
  }

  &.full {
    height: 100vh;

    @media (max-width: $grid-sm-breakpoint - 1) {
      height: $hero-lg-size * 2 / 3;
    }
  }
}
