.listgroup {
  border: 1px solid $color-text-dark-4;
  border-radius: 4px;

  & > .item {
    width: 100%;
    transition: $transition-normal;
    border: 1px solid $color-text-dark-4;

    &:hover {
      background-color: $color-primary-transparent;
    }

    & > * {
      color: unset;
      text-decoration: unset;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: $listgroup-padding $listgroup-padding-h;
    }
  }

  &.sm {
    width: $listgroup-sm-size;
  }

  &.md {
    width: $listgroup-md-size;
  }

  &.lg {
    width: $listgroup-lg-size;
  }
}

body.dark {
  .listgroup {
    border-color: $color-text-light-4;

    & > .item {
      border-color: $color-text-light-4;

      &:hover {
        background-color: $color-text-light-4;
      }
    }
  }
}
