main {
  min-height: 100vh;

  // to force align main to top
  &:before {
    content: '';
    display: table;
    clear: both;
  }

  @media (max-width: $grid-sm-breakpoint - 1) {
    min-height: $hero-lg-size * 2 / 3;
  }

  &.with-sidebar {
    margin-left: $nav-width;
  }

  &.with-navbar {
    margin-top: $nav-height;
  }

  &.section-no-margin {
    & > section {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
