section {
  margin: 64px auto;

  & > .section-header,
  & > .container > .section-header {
    font-family: $typography-base-font;
    border-bottom: 1px solid $color-text-dark-4;
    margin-bottom: 16px;
  }

  &.subsection {
    & > .section-header,
    & > .container > .section-header {
      border-bottom: unset;
      position: relative;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;

      & > * {
        margin: 0;
        padding: 0 16px;
        background-color: $background;
        display: inline-block;
        position: relative;
        z-index: 1;
        transition: $transition-normal;
      }

      &:before {
        content: '';
        height: 1px;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        background-color: $color-text-dark-4;
        z-index: 0;
      }
    }
  }
}

.card > .body {
  section {
    margin: 16px auto;

    &.subsection {
      & > .section-header,
      & > .container > .section-header {
        & > * {
          background-color: $white;
        }
      }
    }
  }
}

body.dark {
  section {
    & > .section-header,
    & > .container > .section-header {
      border-color: $color-text-light-4;
    }

    &.subsection {
      & > .section-header,
      & > .container > .section-header {
        & > * {
          background-color: $background-dark;
        }

        &:before {
          background-color: $color-text-light-4;
        }
      }
    }
  }

  .card > .body {
    section {
      &.subsection {
        & > .section-header,
        & > .container > .section-header {
          & > * {
            background-color: $color-primary-dark;
          }
        }
      }
    }
  }
}
