.snackbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 16px;
  z-index: 128;
  transition: $transition-normal;
  pointer-events: none;

  &.hidden {
    transform: translateY(100%);
  }

  .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 16px;
    border-radius: 4px;
    background-color: $color-grey-900;
    color: $color-text-light-1-5;
    pointer-events: auto;
  }
}

body.dark {
  .snackbar {
    .inner {
      background-color: $color-grey-800;
    }
  }
}
