.tabbar {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: $transition-normal transform;
  font-family: $typography-base-font;
  font-size: 0.84rem;
  text-transform: uppercase;
  border-bottom: 1px solid $color-text-dark-4;
  width: 100%;
  height: $tab-height;
  margin-bottom: 16px;

  & > .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;

    & > .element {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      height: 100%;

      & > * {
        color: $color-text-dark-2;
        transition: $transition-normal;
        white-space: nowrap;
        max-width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: unset;
        padding: 16px;
        border-bottom: 2px solid transparent;

        &.active {
          color: saturate($color-primary, 12%);
          border-color: saturate($color-primary, 12%);
        }

        &:hover {
          color: saturate($color-primary, 12%);
          cursor: pointer;
          border-color: saturate($color-primary, 12%);
        }

        &:active {
          color: saturate($color-primary, 12%);
          border-color: saturate($color-primary, 12%);
        }
      }

      & + .element {
        margin-left: 8px;
      }
    }
  }
}

body.dark {
  .tabbar {
    border-color: $color-text-light-4;

    & > .container > .element > * {
      color: $color-text-light-2;

      &.active {
        color: $color-text-light-1;
        border-color: $color-text-light-2;
      }

      &:hover {
        color: $color-text-light-1;
        border-color: $color-text-light-2;
      }

      &:active {
        color: $color-text-light-1;
        border-color: $color-text-light-2;
      }
    }
  }
}
